I am last year mathematics student, who is inspired about appications of math. That is why I deployed my NLP project for recognazing russian dis-info.
The libraries which are familiar to me are: mesa, NetworkX, pandas, numpy, nltk, scikit-learn, matplotlib. I am also sufficiantly proficient at SQL syntax, especially
at MsSQL, but I can perform a simple code at T-SQL. Moreover, I builted an linear regression based model at R.
I am data mining enthusiast.
